<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonelTakip.Properties.Settings.dbo_PersonelTakipConnectionString"
            connectionString="Data Source=MONSTERT5\SQLEXPRESS;Initial Catalog=dbo_PersonelTakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>